/* Header/logo Title */
.header {
  padding: 90px;
  text-align: center;
  background-image: url('imagens/cabecalho.jpg');
  color: white;
}
.navbar {
  overflow: hidden;
  background-color: #111;
}
/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.btn{
    background-color: #3C3C3C;
    color: white;
}

